.square {
background: #fff;
border: 1.5px solid rgb(1, 98, 128);
float: left;
font-size: 24px;
font-weight: bold;
margin-right: -1px;
margin-left: -1px;
margin-top: -1px;
margin-bottom: -1px;
text-align: center;
width: 40px;
height: 40px;
}

.square:focus {
    outline: none;
}

.square:focus {
    background: #ddd;
  }