body {
  margin: 20px;
  font-family: sans-serif;
}

.game__status {
  position: absolute;
  left: 200px;
  top: 150px;
}

.game__status--nextPlayer{
color: rgb(1, 98, 128);
}

.game__status--winner{
  color: rgb(19, 179, 14);
}